.git
.github
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
coverage.xml
htmlcov
.venv
venv
env
ENV
output
output_test
*.log
.DS_Store
Thumbs.db
desktop.ini
.vscode
.idea
*.swp
*.swo
*~
.streamlit
